.bg {background-image: url("../img/wallpaper-trabalho.jpg"); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;}
.ativo {background-color: #3382c6; border-radius: 4px; color: #fff !important;}
.corpo p {padding:20px;}